@font-face {
    font-family: 'Bitstream';
    src: url('Bitstream Vera Sans Mono Nerd Font Complete Mono.ttf');
}

body{
    font-family: 'Bitstream';
    background-color: black;
    color: blueviolet;
}

h1{
    color: blueviolet;
}
