body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 20px;
    padding: 10px 25px 10px;
    border: 1px solid #ebc55d;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}


section {
    margin: 0px 20px 20px;
    padding: 10px 25px 10px ;
    border: 1px solid #00e1ff;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin-top: auto;
    text-align: center;
    line-height: 12px;
}

nav {
    margin: 0px;
    padding: 0px;
    border: 0px solid #5f5f5f;
    background-color: rgb(51, 51, 51);
    height: 50px !important;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #ffd768;
}

a:hover {
    text-decoration: underline;
}

.top-navigation {
    background-color: #000000;
    overflow: visible;
    text-align: center;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-navigation li {
    /*float: left;*/
    display: inline-block;
}

.top-navigation a {
    box-sizing: border-box;
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.top-navigation a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Style the dropdown button */
.dropbtn {
    padding: 14px 16px;
    background-color: #000000;
    color: white;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    text-align: left;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    width: 200px;
    float: left;
    background-color: black;
    height:100vh;
    position: fixed;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
}

.sidebar a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* header, section {
    margin-left: 220px;
}
 */